.header {
    background-color: $white;


    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba($text-black, .2);
        padding-bottom: 25px;
        padding: 25px 105px 30px 100px;

        @media(max-width: $breakpoint-1299) {
            justify-content: center;
        }

        @media(max-width: $breakpoint-991) {
            padding: 25px 50px 30px 50px;
        }

        @media(max-width: $breakpoint-575) {
            display: none;
        }
    }

    &__nav {
        @media(max-width: $breakpoint-1299) {
            display: none;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }



    &__user {
        display: flex;
        gap: 33px;
        flex-wrap: wrap;
    }



    &__user-link {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        transition: .3s color ease;

        &:hover {
            color: $orange;
        }

        &_phone {
            &::before {
                content: url('./assets/svg/phone.svg');
                display: block;
            }
        }

        &_account {
            &::before {
                content: url('./assets/svg/user.svg');
            }
        }
    }

    &__bottom {
        position: relative;
        display: flex;
        align-items: center;
        padding: 30px 105px 30px 100px;
        border-bottom: 1px solid rgba($text-black, .2);
        background-color: $white;
        z-index: 20;

        @media(max-width: $breakpoint-991) {
            padding: 30px 50px 30px 50px;
        }

        @media(max-width: $breakpoint-575) {
            justify-content: center;
            gap: 20px;
        }
    }


    &__categories {
        @include adaptiv-size('margin-left', 60, 10);
        @include adaptiv-size('gap', 55, 10);
        display: flex;
        flex-wrap: wrap;

        @media(max-width: $breakpoint-1459) {
            display: none;
        }
    }

    &__search-wrapper {
        position: absolute;
        top: 100%;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba($text-black, .3);
        height: 100vh;
        border-top: 1px solid rgba($text-black, .2)
    }

    &__search {

        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 1 1 auto;
        cursor: pointer;

        @media(max-width: $breakpoint-575) {
            flex: 0 0 auto;
        }
    }

    &__search-close {
        position: absolute;
        top: 20px;
        right: 35px;
        font-size: 18px;
        font-weight: 900;
        cursor: pointer;
    }



    &__favorites {
        @include adaptiv-size('margin-left', 30, 10);
        position: relative;
        cursor: pointer;

        @media(max-width: $breakpoint-575) {
            order: 4;
        }
    }

    &__favorites-count {
        top: -4px;
        right: 0px;
    }

    &__cart {
        @include adaptiv-size('margin-left', 30, 10);
        position: relative;
        cursor: pointer;

        @media(max-width: $breakpoint-575) {
            order: 5;
        }
    }

    &__cart-count {
        top: -3px;
        right: 0px;
    }
}

.header-burger {



    &__btn {
        display: flex;
        flex-direction: column;
        gap: 8px;
        cursor: pointer;

        span {
            display: block;
            width: 30px;
            height: 3px;
            background-color: $text-black;
            transition: .3s transform ease;

            &:nth-child(2) {
                width: 20px;
            }
        }

        &_active {
            span {
                &:nth-child(2) {
                    display: none;
                }

                &:nth-child(1) {
                    transform: rotate(45deg) translateY(7.5px);
                }

                &:nth-child(3) {
                    transform: rotate(-45deg) translateY(-7.5px);
                }
            }
        }
    }

    &__menu {
        position: absolute;
        top: calc(100% + 1px);
        left: 0;
        visibility: hidden;
        opacity: 0;
        width: 100%;
        background-color: #fff;
        padding-bottom: 30px;
        transition: .3s all ease;

        &_active {
            visibility: visible;
            opacity: 1;
        }
    }

    &__user {
        @extend .header__user;
        display: none;
        flex-wrap: nowrap;
        border-bottom: 1px solid rgba($text-black, .2);
        padding: 18px 20px;

        @media(max-width: $breakpoint-575) {
            display: flex;
            justify-content: center;
        }
    }

    &__user-link {
        @extend .header__user-link;

        &_phone {
            @extend .header__user-link_phone;
        }

        &_account {
            @extend .header__user-link_account;
        }
    }

    &__nav {
        padding: 0 20px;
        margin-top: 30px;
    }

    &__categories {
        padding: 0 20px;
        margin-top: 30px;

        &::after {
            content: '';
            display: block;
            width: 30px;
            height: 2px;
            background-color: $orange;
            margin-top: 30px;
        }
    }



    &__item,
    &__categories-item {
        &:nth-child(n):not(:first-child) {
            margin-top: 30px;
        }
    }

    &__categories-link {
        text-transform: uppercase;
        transition: .3s all ease;

        &:hover {
            color: $orange;
        }
    }

}

.logo {
    transition: .3s transform ease;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }
}

.js-search-wrapper {
    visibility: hidden;
    opacity: 0;
    transition: .3s all ease;

    &_active {
        visibility: visible;
        opacity: 1;
    }
}

.search-input {
    width: 100%;

    padding: 25px 20px;
    font-size: 18px;
    transition: .3s all ease;

    border: none;
    outline: none;

}

.logo-wrapper {
    @include adaptiv-size('width', 181, 80);
    @include adaptiv-size('height', 56, 25);
    @include adaptiv-size('margin-left', 60, 10);
    flex-shrink: 0;

    @media(max-width: $breakpoint-575) {
        margin-left: 0;
        order: 3;
    }

    svg {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.js-search {}

.header-count {
    position: absolute;
    font-size: 12px;
    color: $orange;
    background-color: $white;
    border-radius: 50%;
    padding: 2px;
    z-index: 20;
}