$text-black: #222222;
$text-gray: #898989;
$orange: #D0AF61;
$white: #ffffff;

$maxWidth: 1920;
$minWidth: 320;

$breakpoint-1459: 1459px;
$breakpoint-1399: 1399px;
$breakpoint-1299: 1299px;
$breakpoint-1199: 1199px;
$breakpoint-991: 991px;
$breakpoint-767: 767px;
$breakpoint-575: 575px;
$breakpoint-399: 399px;